---
---

<div
  class="action-buttons pointer-events-none fixed end-0 bottom-5 z-100 flex flex-col items-end space-y-2 opacity-0 transition-all duration-300 [&.scroll-down]:pointer-events-auto [&.scroll-down]:end-5 [&.scroll-down]:opacity-100">

    actionBtns();
  </script>
</div>
